<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K14 -- Form and Function
2020-12-10
-->
<!DOCTYPE html>
<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
    Welcome, Travelers of the Intertoobz!
    </h1>

	<br>
	<a href="http://fakegrimlock.com/">
    	<img src="static/fakegrimlock_podium.jpg" width="300" height="300">
	</a> 
	<br>

<h3>
Enter your username below to proceed.
</h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
     <br>
  </body>

</html>